<div class="flex">
	<a href="/">Home</a>
	<a href="/vue" class="ml-4">Vue</a>
	<a href="/svelte" class="ml-4">Svelte</a>
	<a href="/solid" class="ml-4">Solid</a>
	<a href="/register" class="ml-4">Register</a>
	<a href="/login" class="ml-4">Login</a>
</div>
