<nav class="h-10 w-full text-white text-lg flex items-center">
	<a href="/">Home</a>
	<a href="/vue" class="ml-4">Vue</a>
	<a href="/svelte" class="ml-4">Svelte</a>
	<a href="/solid" class="ml-4">Solid</a>
</nav>
