---
import UserLayout from '../layout/UserLayout.astro'
---

<UserLayout>
	<div
		class="my-4 flex flex-col items-center justify-center rounded border border-solid border-gray-300 p-4"
	>
		<h1 class="text-xl font-bold">Welcome Home!</h1>
	</div>
</UserLayout>
