---
const response = await fetch("http://localhost:4000/todos");
const data = await response.json();

interface Todo {
  id: number;
  name: string;
}
---

{data.map((todo: Todo) => <h1>{todo.name}</h1>)}
