---
import BaseLayout from '../layout/BaseLayout.astro'
---

<BaseLayout>
	<div
		class="my-4 flex flex-col rounded border border-solid border-gray-300 p-4"
	>
		<h1 class="mb-4 text-lg font-bold">Todos in Solid</h1>
	</div>
</BaseLayout>
