---
import TodoDisplay from '../components/TodoDisplay.vue'
import UserLayout from '../layout/UserLayout.astro'
---

<UserLayout>
	<div
		class="my-4 flex flex-col rounded border border-solid border-gray-300 p-4"
	>
		<h1 class="mb-4 text-lg font-bold">Todos in Vue</h1>

		<TodoDisplay client:load />
	</div>
</UserLayout>
