---
import '../styles/main.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="My site to learn fullstack engineering" />
		<title>FullStack Learning</title>
	</head>
	<body>
		<div class="mx-auto w-full max-w-3xl">
			<slot />
		</div>
	</body>
</html>
