---
import Navigation from '../components/Navigation.astro'
import User from '../components/User.vue'
import BaseLayout from './BaseLayout.astro'
---

<BaseLayout>
	<nav class="flex h-10 w-full items-center justify-between text-lg text-white">
		<Navigation />

		<User client:only />
	</nav>
	<slot />
</BaseLayout>
